body {
  background-color: #0b6405;
}
.wrapper{
  margin: auto 0;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {

  max-width: 35rem;
  min-width: 35rem;
  overflow: hidden;
  border: 1rem solid #fff;
  border-radius: 1rem;
  margin: auto auto;
}

.textforslide {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  transition: all .6s ease;
}


.navigation {
  display: flex;
}

.point span {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  opacity: .7;
  border-radius: 50%;
  transition: all .4s ease;
  background-color: cornflowerblue;
}

.point {
  cursor: pointer;
}

.point:hover span {
  background-color: white;
}

.point:active span {
  background-color: rgba(255, 255, 255, 0.45);
}



